@font-face {
  font-family: 'Brice';
  src: url('/fonts/Brice-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brice';
  src: url('/fonts/Brice-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brice';
  src: url('/fonts/Brice-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Add more @font-face rules as needed */


.brice { 
  font-family: "Brice", Verdana, Tahoma;
}